# 作業

## 郭耀仁

## 作業 0：線上互動課程（70）

完成 [Intro to Python for Data Science](https://www.datacamp.com/courses/intro-to-python-for-data-science?tap_a=5644-dce66f&tap_s=194899-1fb421)

## 作業 0：擷取 NBA 球員的薪資（35）

- 寫作 `get_nba_salary()` 函數
- 利用網頁爬蟲將 <https://hoopshype.com/salaries/players/> 的球員姓名、薪資擷取至 Python 中

In [1]:
from pyquery import PyQuery as pq
import pandas as pd

def get_nba_salary():
    name_css = "#content-container a"
    salary_css = "tbody .hh-salaries-sorted"
    
    html_doc = pq("https://hoopshype.com/salaries/players/")
    names = [n.text for n in html_doc(name_css)]
    names = names[2:]
    names = [name.replace("\n", "") for name in names]
    names = [name.replace("\t", "") for name in names]
    salaries = [s.text for s in html_doc(salary_css)]
    salaries = [s.replace(",", "") for s in salaries]
    salaries = [s.replace("$", "") for s in salaries]
    salaries = [s.replace("\n", "") for s in salaries]
    salaries = [int(s.replace("\t", "")) for s in salaries]
    salary_dict = {
        "player": names,
        "salary": salaries
    }
    df = pd.DataFrame(salary_dict)
    return df

In [2]:
nba_salary = get_nba_salary()
nba_salary.head()

              player    salary
0      Stephen Curry  37457154
1  Russell Westbrook  35665000
2       LeBron James  35654150
3      Blake Griffin  31873932
4     Gordon Hayward  31214295

## 作業 1: 擷取Yahoo! 奇摩股市上市與上櫃公司成交價排行前 100 名（35）

- 寫作 `get_top_200()` 函數
- 將[上市](https://tw.stock.yahoo.com/d/i/rank.php?t=pri&e=tse&n=100)與[上櫃](https://tw.stock.yahoo.com/d/i/rank.php?t=pri&e=otc&n=100)成交價排行前 100 名的資訊擷取下來
- 欄位：股票代號、公司名稱、成交價、上市或上櫃）

In [3]:
def get_top_200():
    tse = "https://tw.stock.yahoo.com/d/i/rank.php?t=pri&e=tse&n=100"
    otc = "https://tw.stock.yahoo.com/d/i/rank.php?t=pri&e=otc&n=100"
    ticker_company_css = ".name a"
    price_css = ".name+ td"
    url_list = [tse, otc]
    all_tickers = []
    all_companies = []
    all_prices = []
    all_types = []
    for url in url_list:
        doc = pq(url)
        ticker_company = doc(ticker_company_css)
        tickers = [t.text.split()[0] for t in ticker_company]
        companies = [c.text.split()[1] for c in ticker_company]
        prices = [float(p.text) for p in doc(price_css)]
        if url == tse:
            types = ["上市" for _ in range(100)]
        else:
            types = ["上櫃" for _ in range(100)]
        all_tickers += tickers
        all_companies += companies
        all_prices += prices
        all_types += types
    df = pd.DataFrame()
    df["ticker"] = all_tickers
    df["company"] = all_companies
    df["price"] = all_prices
    df["type"] = all_types
    return df

In [4]:
top_200 = get_top_200()
top_200.head()

  ticker company   price type
0   3008     大立光  5040.0   上市
1   2327      國巨   962.0   上市
2   6415   矽力-KY   664.0   上市
3   6409      旭隼   536.0   上市
4   5269      祥碩   505.0   上市

In [5]:
top_200.tail()

    ticker company  price type
195   5425      台半   87.1   上櫃
196   8432     東生華   86.0   上櫃
197   8942      森鉅   85.9   上櫃
198   4103      百略   85.7   上櫃
199   5317      凱美   84.9   上櫃

## 作業 1: NumPy 入門（35）

- 寫作一個函數 `std_fun()`
- 利用 numpy ndarray 實作

$$SD = \sqrt{\frac{1}{N-1}\sum_{i=1}^{N}(x_i - \bar{x})^2}$$

In [6]:
import numpy as np

def std_fun(x):
    return np.std(x, ddof=1)

In [7]:
arr = np.arange(1, 101)
std_fun(arr)

29.011491975882016

## 作業 3: NBA 球員的年薪（35）

延續作業 0，回答下列問題：

- 有幾位 NBA 球員的年薪超過一千萬？ 
- NBA 球員的年薪平均？
- NBA 球員的年薪中位數？
- 繪製 NBA 球員的年薪直方圖

![](images/nba_salary_hist.png)

## 作業 4：上市上櫃公司（35）

延續作業 1，回答下列問題

- 有幾間境外公司？（公司名稱有 KY）
- 請篩選出非境外公司的觀測值並依照股價排序

## 作業 2：完成 pandas 專題：能源指標的問題一（35）

[問題一](https://yaojenkuo.io/python_4_ds/pandas_energy_indicator.slides.html#/2)

## 作業 3：完成 pandas 專題：能源指標的問題二（35）

[問題二](https://yaojenkuo.io/python_4_ds/pandas_energy_indicator.slides.html#/2/4)

## 作業 4：完成 House Prices: Advanced Regression Techniques 並上傳（70）

[House Prices: Advanced Regression Techniques](https://www.kaggle.com/c/house-prices-advanced-regression-techniques)

## 作業 5：完成 Titanic: Machine Learning from Disaster 並上傳（70）

[Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic)

## 作業 6：完成 Digit Recognizer 並上傳（70）

[Digit Recognizer](https://www.kaggle.com/c/digit-recognizer)